    <div class="main-container">
      <div class="flex-row-e">
        <div class="binary"></div>
        <div class="binary-1"></div>
        <div class="binary-2"></div>
        <span class="ctem">ctem</span>
        <a href="#">
        <span class="acerca-de">Acerca de</span>
      </a>
        <a href="#">
        <span class="acerca-de-3">Acerca de</span>
      </a>
        <a href="#">
        <span class="acerca-de-4">Acerca de</span>
      </a>
        <a href="#">
        <span class="acerca-de-5">Acerca de</span>
      </a>
        <div class="group"></div>
        <div class="vector"><div class="group-6"></div></div>
        <div class="vector-7"></div>
        <div class="vector-8"></div>
        <div class="vector-9"></div>
        <div class="binary-a"></div>
        <div class="binary-b"></div>
        <span class="educacion-ciencia-matematica"
          >Educación, Ciencia y Divulgación Matemática</span
        >
        <div class="binary-c"></div>
        <span class="congreso-tecnologia-educacion"
          >Congreso de Tecnologia y Educación Matemática. Se parte del primer
          congreso de Educacion Matemática del Ecuador. </span
        ><button class="rectangle">
          <span class="se-ponente">Se Ponente</span>
        </button>
      </div>
      <div class="rectangle-d">
        <div class="image"></div>
        <div class="flex-column-f">
          <span class="congreso-tecnologia-educacion-e"
            >Congreso de Tecnologia y Educación Matemática. Se parte del primer
            congreso de Educacion Matemática del Ecuador. </span
          ><button class="rectangle-button">
            <span class="span-se-ponente">Se Ponente</span></button
          ><span class="span-proposito">Propósito</span>
          <div class="div-vector"></div>
        </div>
      </div>
      <div class="div-flex-row-dc">
        <div class="rectangle-f">
          <span class="span-congreso">Congreso</span
          ><span class="span-congreso-tecnologia-educacion-matematica"
            >{{testimonials.email}}
          </span>
        </div>
        <div class="rectangle-10"></div>
      </div>
      <div class="flex-row">
        <div class="rectangle-11"></div>
        <div class="rectangle-12"></div>
        <div class="rectangle-13"></div>
      </div>
      <span class="purpose">Propósito</span>
      <div class="rectangle-14"></div>
    </div>
    <router-outlet></router-outlet>